﻿@model CodingTest.Models.StudentGradeReportViewModel

@{
    ViewData["Title"] = "Index";
}

<p markdown>
# LINQ

In this example, use LINQ queries to get the correct data in the `LinqController` from the `GradeList` object to return the following:

    * Average Grade Percentage for Class
    * How many students received each letter grade
    * A list of students ordered by their number grade descending (Grade - FirstName LastName)
</p>

<h4>Average Grade</h4>
<p>@Html.DisplayFor(model => model.AverageGrade)</p>

<h4>List of Grades and Number of Students</h4>
<table class="table">
    <thead>
        <tr class="d-flex">
            <th class="col-3">@Html.DisplayNameFor(model => model.LetterGradeCounts[0].LetterGrade)</th>
            <th class="col-1">@Html.DisplayNameFor(model => model.LetterGradeCounts[0].LetterGradeCount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LetterGradeCounts)
        {
            <tr class="d-flex">
                <td class="col-3">@Html.DisplayFor(modelItem => item.LetterGrade)</td>
                <td class="col-1">@Html.DisplayFor(modelItem => item.LetterGradeCount)</td>
            </tr>
        }
    </tbody>
</table>

<h4>List of Students Ordered By Grades Descending</h4>
@foreach (var item in Model.GradeList)
{
<div>
    @item.NumberGrade - @item.FirstName @item.LastName
</div>

}

