﻿
@{
    ViewData["Title"] = "Index";
}

<p markdown>
# FizzBuzz

Write a program that prints the numbers from 1 to 100. But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". 
For numbers which are multiples of both three and five print "FizzBuzz".
</p>

@functions {
    public bool IsFizz(int i) => i % 3 == 0;
    public bool IsBuzz(int i) => i % 5 == 0;
}

@for (var i=1; i<=100; i++)
{
    if (@IsFizz(i) && @IsBuzz(i))
    {
<div>FizzBuzz</div>
    }
    else if (@IsFizz(i))
    {
<div>Fizz</div>
    }
    else if (@IsBuzz(i))
    {
<div>Buzz</div>
    }
    else
    {
<div>@i</div>
    }
}